Documentacion/Doxyfile
Documentacion/Doxyfile.bak
Documentacion/doxygen_warnings.log
Documentacion/Readme.md
Documentacion/docs/html/bc_s.png
Documentacion/docs/html/bdwn.png
Documentacion/docs/html/closed.png
Documentacion/docs/html/config_8h__dep__incl.map
Documentacion/docs/html/config_8h__dep__incl.md5
Documentacion/docs/html/config_8h__dep__incl.png
Documentacion/docs/html/config_8h_source.html
Documentacion/docs/html/config_8h.html
Documentacion/docs/html/config_8h.js
Documentacion/docs/html/dir_000001_000000.html
Documentacion/docs/html/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.map
Documentacion/docs/html/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.md5
Documentacion/docs/html/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.png
Documentacion/docs/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
Documentacion/docs/html/dir_d44c64559bbebec7f509842c48db8b23.html
Documentacion/docs/html/doc.png
Documentacion/docs/html/doxygen.css
Documentacion/docs/html/doxygen.svg
Documentacion/docs/html/dynsections.js
Documentacion/docs/html/files_dup.js
Documentacion/docs/html/files.html
Documentacion/docs/html/folderclosed.png
Documentacion/docs/html/folderopen.png
Documentacion/docs/html/globals_defs.html
Documentacion/docs/html/globals_func.html
Documentacion/docs/html/globals_vars.html
Documentacion/docs/html/globals.html
Documentacion/docs/html/graph_legend.html
Documentacion/docs/html/graph_legend.md5
Documentacion/docs/html/graph_legend.png
Documentacion/docs/html/index.html
Documentacion/docs/html/jquery.js
Documentacion/docs/html/main_8c__incl.map
Documentacion/docs/html/main_8c__incl.md5
Documentacion/docs/html/main_8c__incl.png
Documentacion/docs/html/main_8c_a840291bc02cba5474a4cb46a9b9566fe_cgraph.map
Documentacion/docs/html/main_8c_a840291bc02cba5474a4cb46a9b9566fe_cgraph.md5
Documentacion/docs/html/main_8c_a840291bc02cba5474a4cb46a9b9566fe_cgraph.png
Documentacion/docs/html/main_8c.html
Documentacion/docs/html/main_8c.js
Documentacion/docs/html/menu.js
Documentacion/docs/html/menudata.js
Documentacion/docs/html/motor_8c__incl.map
Documentacion/docs/html/motor_8c__incl.md5
Documentacion/docs/html/motor_8c__incl.png
Documentacion/docs/html/motor_8c_a45994404ca978318ccdaf5210f24dc3f_cgraph.map
Documentacion/docs/html/motor_8c_a45994404ca978318ccdaf5210f24dc3f_cgraph.md5
Documentacion/docs/html/motor_8c_a45994404ca978318ccdaf5210f24dc3f_cgraph.png
Documentacion/docs/html/motor_8c_a45994404ca978318ccdaf5210f24dc3f_icgraph.map
Documentacion/docs/html/motor_8c_a45994404ca978318ccdaf5210f24dc3f_icgraph.md5
Documentacion/docs/html/motor_8c_a45994404ca978318ccdaf5210f24dc3f_icgraph.png
Documentacion/docs/html/motor_8c_aa2a5af0fb9c1fa2047a5ca0af110f806_icgraph.map
Documentacion/docs/html/motor_8c_aa2a5af0fb9c1fa2047a5ca0af110f806_icgraph.md5
Documentacion/docs/html/motor_8c_aa2a5af0fb9c1fa2047a5ca0af110f806_icgraph.png
Documentacion/docs/html/motor_8c.html
Documentacion/docs/html/motor_8c.js
Documentacion/docs/html/motor_8h__dep__incl.map
Documentacion/docs/html/motor_8h__dep__incl.md5
Documentacion/docs/html/motor_8h__dep__incl.png
Documentacion/docs/html/motor_8h_a45994404ca978318ccdaf5210f24dc3f_cgraph.map
Documentacion/docs/html/motor_8h_a45994404ca978318ccdaf5210f24dc3f_cgraph.md5
Documentacion/docs/html/motor_8h_a45994404ca978318ccdaf5210f24dc3f_cgraph.png
Documentacion/docs/html/motor_8h_a45994404ca978318ccdaf5210f24dc3f_icgraph.map
Documentacion/docs/html/motor_8h_a45994404ca978318ccdaf5210f24dc3f_icgraph.md5
Documentacion/docs/html/motor_8h_a45994404ca978318ccdaf5210f24dc3f_icgraph.png
Documentacion/docs/html/motor_8h_aa2a5af0fb9c1fa2047a5ca0af110f806_icgraph.map
Documentacion/docs/html/motor_8h_aa2a5af0fb9c1fa2047a5ca0af110f806_icgraph.md5
Documentacion/docs/html/motor_8h_aa2a5af0fb9c1fa2047a5ca0af110f806_icgraph.png
Documentacion/docs/html/motor_8h_source.html
Documentacion/docs/html/motor_8h.html
Documentacion/docs/html/motor_8h.js
Documentacion/docs/html/nav_f.png
Documentacion/docs/html/nav_g.png
Documentacion/docs/html/nav_h.png
Documentacion/docs/html/navtree.css
Documentacion/docs/html/navtree.js
Documentacion/docs/html/navtreedata.js
Documentacion/docs/html/navtreeindex0.js
Documentacion/docs/html/open.png
Documentacion/docs/html/resize.js
Documentacion/docs/html/sensor_8c__incl.map
Documentacion/docs/html/sensor_8c__incl.md5
Documentacion/docs/html/sensor_8c__incl.png
Documentacion/docs/html/sensor_8c_a8ff671f56fe6749e5d35c8064e80a51e_icgraph.map
Documentacion/docs/html/sensor_8c_a8ff671f56fe6749e5d35c8064e80a51e_icgraph.md5
Documentacion/docs/html/sensor_8c_a8ff671f56fe6749e5d35c8064e80a51e_icgraph.png
Documentacion/docs/html/sensor_8c_aef2ea3b8bf8e02ffaefec5892411830d_icgraph.map
Documentacion/docs/html/sensor_8c_aef2ea3b8bf8e02ffaefec5892411830d_icgraph.md5
Documentacion/docs/html/sensor_8c_aef2ea3b8bf8e02ffaefec5892411830d_icgraph.png
Documentacion/docs/html/sensor_8c.html
Documentacion/docs/html/sensor_8c.js
Documentacion/docs/html/sensor_8h__dep__incl.map
Documentacion/docs/html/sensor_8h__dep__incl.md5
Documentacion/docs/html/sensor_8h__dep__incl.png
Documentacion/docs/html/sensor_8h_a8ff671f56fe6749e5d35c8064e80a51e_icgraph.map
Documentacion/docs/html/sensor_8h_a8ff671f56fe6749e5d35c8064e80a51e_icgraph.md5
Documentacion/docs/html/sensor_8h_a8ff671f56fe6749e5d35c8064e80a51e_icgraph.png
Documentacion/docs/html/sensor_8h_aef2ea3b8bf8e02ffaefec5892411830d_icgraph.map
Documentacion/docs/html/sensor_8h_aef2ea3b8bf8e02ffaefec5892411830d_icgraph.md5
Documentacion/docs/html/sensor_8h_aef2ea3b8bf8e02ffaefec5892411830d_icgraph.png
Documentacion/docs/html/sensor_8h_source.html
Documentacion/docs/html/sensor_8h.html
Documentacion/docs/html/sensor_8h.js
Documentacion/docs/html/splitbar.png
Documentacion/docs/html/sync_off.png
Documentacion/docs/html/sync_on.png
Documentacion/docs/html/tab_a.png
Documentacion/docs/html/tab_b.png
Documentacion/docs/html/tab_h.png
Documentacion/docs/html/tab_s.png
Documentacion/docs/html/tabs.css
Documentacion/docs/html/utils_8c__incl.map
Documentacion/docs/html/utils_8c__incl.md5
Documentacion/docs/html/utils_8c__incl.png
Documentacion/docs/html/utils_8c_a7d9a493c1664149d65a1aa184642c2e1_icgraph.map
Documentacion/docs/html/utils_8c_a7d9a493c1664149d65a1aa184642c2e1_icgraph.md5
Documentacion/docs/html/utils_8c_a7d9a493c1664149d65a1aa184642c2e1_icgraph.png
Documentacion/docs/html/utils_8c.html
Documentacion/docs/html/utils_8c.js
Documentacion/docs/html/utils_8h__dep__incl.map
Documentacion/docs/html/utils_8h__dep__incl.md5
Documentacion/docs/html/utils_8h__dep__incl.png
Documentacion/docs/html/utils_8h_a7d9a493c1664149d65a1aa184642c2e1_icgraph.map
Documentacion/docs/html/utils_8h_a7d9a493c1664149d65a1aa184642c2e1_icgraph.md5
Documentacion/docs/html/utils_8h_a7d9a493c1664149d65a1aa184642c2e1_icgraph.png
Documentacion/docs/html/utils_8h_source.html
Documentacion/docs/html/utils_8h.html
Documentacion/docs/html/utils_8h.js
Documentacion/docs/html/search/all_0.html
Documentacion/docs/html/search/all_0.js
Documentacion/docs/html/search/all_1.html
Documentacion/docs/html/search/all_1.js
Documentacion/docs/html/search/all_2.html
Documentacion/docs/html/search/all_2.js
Documentacion/docs/html/search/all_3.html
Documentacion/docs/html/search/all_3.js
Documentacion/docs/html/search/all_4.html
Documentacion/docs/html/search/all_4.js
Documentacion/docs/html/search/close.svg
Documentacion/docs/html/search/defines_0.html
Documentacion/docs/html/search/defines_0.js
Documentacion/docs/html/search/defines_1.html
Documentacion/docs/html/search/defines_1.js
Documentacion/docs/html/search/defines_2.html
Documentacion/docs/html/search/defines_2.js
Documentacion/docs/html/search/files_0.html
Documentacion/docs/html/search/files_0.js
Documentacion/docs/html/search/files_1.html
Documentacion/docs/html/search/files_1.js
Documentacion/docs/html/search/files_2.html
Documentacion/docs/html/search/files_2.js
Documentacion/docs/html/search/files_3.html
Documentacion/docs/html/search/files_3.js
Documentacion/docs/html/search/functions_0.html
Documentacion/docs/html/search/functions_0.js
Documentacion/docs/html/search/functions_1.html
Documentacion/docs/html/search/functions_1.js
Documentacion/docs/html/search/functions_2.html
Documentacion/docs/html/search/functions_2.js
Documentacion/docs/html/search/mag_sel.svg
Documentacion/docs/html/search/nomatches.html
Documentacion/docs/html/search/search_l.png
Documentacion/docs/html/search/search_m.png
Documentacion/docs/html/search/search_r.png
Documentacion/docs/html/search/search.css
Documentacion/docs/html/search/search.js
Documentacion/docs/html/search/searchdata.js
Documentacion/docs/html/search/variables_0.html
Documentacion/docs/html/search/variables_0.js
Documentacion/docs/latex/config_8h__dep__incl.md5
Documentacion/docs/latex/config_8h__dep__incl.pdf
Documentacion/docs/latex/config_8h.tex
Documentacion/docs/latex/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.md5
Documentacion/docs/latex/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.pdf
Documentacion/docs/latex/dir_68267d1309a1af8e8297ef4c3efbcdba.tex
Documentacion/docs/latex/dir_d44c64559bbebec7f509842c48db8b23.tex
Documentacion/docs/latex/doxygen.sty
Documentacion/docs/latex/files.tex
Documentacion/docs/latex/longtable_doxygen.sty
Documentacion/docs/latex/main_8c__incl.md5
Documentacion/docs/latex/main_8c__incl.pdf
Documentacion/docs/latex/main_8c.tex
Documentacion/docs/latex/Makefile
Documentacion/docs/latex/motor_8c__incl.md5
Documentacion/docs/latex/motor_8c__incl.pdf
Documentacion/docs/latex/motor_8c.tex
Documentacion/docs/latex/motor_8h__dep__incl.md5
Documentacion/docs/latex/motor_8h__dep__incl.pdf
Documentacion/docs/latex/motor_8h.tex
Documentacion/docs/latex/refman.tex
Documentacion/docs/latex/sensor_8c__incl.md5
Documentacion/docs/latex/sensor_8c__incl.pdf
Documentacion/docs/latex/sensor_8c.tex
Documentacion/docs/latex/sensor_8h__dep__incl.md5
Documentacion/docs/latex/sensor_8h__dep__incl.pdf
Documentacion/docs/latex/sensor_8h.tex
Documentacion/docs/latex/tabu_doxygen.sty
Documentacion/docs/latex/utils_8c__incl.md5
Documentacion/docs/latex/utils_8c__incl.pdf
Documentacion/docs/latex/utils_8c.tex
Documentacion/docs/latex/utils_8h__dep__incl.md5
Documentacion/docs/latex/utils_8h__dep__incl.pdf
Documentacion/docs/latex/utils_8h.tex
Documentacion/html/bc_s.png
Documentacion/html/bdwn.png
Documentacion/html/closed.png
Documentacion/html/doc.png
Documentacion/html/doxygen.css
Documentacion/html/doxygen.svg
Documentacion/html/dynsections.js
Documentacion/html/folderclosed.png
Documentacion/html/folderopen.png
Documentacion/html/graph_legend.html
Documentacion/html/graph_legend.md5
Documentacion/html/graph_legend.png
Documentacion/html/index.html
Documentacion/html/jquery.js
Documentacion/html/menu.js
Documentacion/html/menudata.js
Documentacion/html/nav_f.png
Documentacion/html/nav_g.png
Documentacion/html/nav_h.png
Documentacion/html/open.png
Documentacion/html/splitbar.png
Documentacion/html/sync_off.png
Documentacion/html/sync_on.png
Documentacion/html/tab_a.png
Documentacion/html/tab_b.png
Documentacion/html/tab_h.png
Documentacion/html/tab_s.png
Documentacion/html/tabs.css
Documentacion/html/search/close.svg
Documentacion/html/search/mag_sel.svg
Documentacion/html/search/nomatches.html
Documentacion/html/search/search_l.png
Documentacion/html/search/search_m.png
Documentacion/html/search/search_r.png
Documentacion/html/search/search.css
Documentacion/html/search/search.js
Documentacion/html/search/searchdata.js
Documentacion/include/config.h
Documentacion/include/utils.h
Documentacion/latex/doxygen.sty
Documentacion/latex/longtable_doxygen.sty
Documentacion/latex/Makefile
Documentacion/latex/refman.tex
Documentacion/latex/tabu_doxygen.sty
Documentacion/src/main.c
Documentacion/src/motor.c
Documentacion/src/motor.h
Documentacion/src/sensor.c
Documentacion/src/sensor.h
Documentacion/src/utils.c
